
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar"
    "heading_1 heading_1"
    "image_1 text_1"
    "image_2 text_2"
    "image_3 text_3"
    "footer footer"

}

.navbar {
    grid-area: navbar;
    background-color: #C2F7FF;
}

.navbar ul {
  list-style-type: none;  
}

.navbar li {
    display: inline;
    padding: 20px;
}

.navbar a {
    padding: 20px;
}


.heading_1 {
    grid-area: heading_1;
    background-color: #C2F7FF;
    text-align: center;
}

.image_1 {
    grid-area: image_1;
     background-color:  #FFF5D6;
     padding: 10%;
  
}

.text_1 {
    grid-area: text_1;
    background-color:  #FFF5D6;
    padding-left: 10%;
     padding-right: 10%;
    line-height: 2;
}

.image_2 {
    grid-area: image_2;
     background-color:  #FFF5D6;
     padding: 10%;
  
}

.text_2 {
    grid-area: text_2;
    background-color:  #FFF5D6;
    padding-left: 10%;
     padding-right: 10%;
    line-height: 2;
}

.image_3 {
    grid-area: image_3;
    background-color:  #FFF5D6;
    padding: 10%;

}

.text_3 {
    grid-area: text_3;
    background-color:  #FFF5D6;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2;
}

.footer {
    grid-area: footer;
    background-color: #C2F7FF;


}

img {
    width:100% ;
   height: auto;
}